@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #f1f1f1;
  --textBase: #1a1a1a;
  --textMuted: #6b7280;
  --textOnPrimary: #ffffff;
  --primary: #4f46e5;
  --primaryHover: #4338ca;
  --secondary: #64748b;
  --accent: #f59e0b;
  --accentHover: #d97706;
  --warning: #f87171;
  --success: #34d399;
  --info: #60a5fa;
  --border: #e5e7eb;
}

/* .dark {
  --background: #1f2937;
  --foreground: #f9fafb;
  --textBase: #e5e7eb;
  --textMuted: #9ca3af;
  --textOnPrimary: #ffffff;
  --primary: #6366f1;
  --primaryHover: #4f46e5;
  --secondary: #9ca3af;
  --accent: #f59e0b;
  --accentHover: #d97706;
  --warning: #f87171;
  --success: #34d399;
  --info: #60a5fa;
  --border: #374151;
} */

@theme {
  --spacing-header-height: 4rem;
  --spacing-footer-height: 3rem;
}
